.menu{
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #16a085;
    text-transform: uppercase;
    font-weight: 700;
}

.top-img{
    margin: 20px 150px;

}
.head{
    text-transform: uppercase;
    font-size: 22px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.txt{
    font-size: 16px;
    text-align: center;
    color: black;
    width: 1060px;
    margin-left: 250px;
    margin-bottom: 30px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier sans-serif;
    font-weight: 700;
}
.top-btn{
    display: flex;
}
.btn{
    background-color: #16a085;
    width: 200px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: block;
    margin: 5px 700px;
    text-decoration: none;
    font-size: 12px;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular sans-serif;
}
.txt-end{
    margin-left: 1010px;
    font-weight: 700;
 }