.main-work{
    width: 1280px;
}
.main-head{
    color: #000000;
    padding-left: 100px;
    text-decoration: none;
    font-size: 40px;
}
.not-main{
    color: #4bcaff;
}
.main-menu{
    width: 1220px;
    background-color: #35444f;
    text-decoration: none;
    height: 30px;
    padding: 20px 90px;
    font-size: 24px;
    text-align: center;
    margin-left: 90px;
    list-style: none;
    vertical-align: middle;
    margin-top: 40px;
}
.main-menu-item {
    text-decoration: none;
    color: white;
}
.main-menu li{
    display: inline-block;
    width: 300px;
}
.second-menu{
    float: left;
    display: flex;
    border: 1px solid black;
    width: 350px;
    height: 400px;
    margin-left: 90px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 60px;
}
.menu-items{
    font-size: 30px;
    padding-bottom: 40px;
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular sans-serif;
    color: rgba(72, 88, 99, 255);
    padding-left: 45px;
}
.container{
    display: block;
    width: 890px;
    height: 530px;
    border: 1px solid black;
    margin-left: 500px;
    margin-top: 59px;
}
.main-img{
    padding: 75px 270px;
}
.first-txt {
    margin-left: 526px;
    padding-top: 20px;
    font-weight: 600;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular sans-serif;
    font-size: 15px;
    color: rgba(44, 44, 44, 255);
    text-align: left;
}
.last-menu{
    display: flex;
    width: 1300px;
    height: 70px;
    background-color: #b4b7ba;
    margin-top: 25px;
    margin-left: 100px;
}
.last-menu-items{
    text-decoration: none;
    color: #0c1927;
    font-size: 20px;
    margin-left: 80px;
    font-weight: 600;
    margin-top: 25px;

}
.last-menu-item1{
    text-decoration: none;
    color: #0c1927;
    font-size: 20px;
    margin-left: 200px;
    margin-top: 25px;
    font-weight: 600;
}
.last-menu-item2{
    font-size: 20px;
    margin-left: 40px;
    font-weight: 600;
    margin-top: 25px;
    color: #3181a6;
}
