.main-work{
    width: 1366px;
    height: 768px;
    background-image: url(img/background@1X.png);
    margin-left: 40px;
}
.milan-text{
    color: white;
    margin-left: 150px;
    font-size: 29px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier sans-serif;
    padding-top: 30px;
}
.milan-text:nth-child(2){
    color: white;
    margin-left: 216px;
    font-size: 18px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier sans-serif;
}
.milan-text:before{
    content: url("img/logo@1X.png");
    float: left;
    width: 45px;
    height: 45px;
}
.info{
    float: start;
    margin-left: 1050px;
    color: white;
    margin-top: -35px;
    text-decoration: none;
    font-size: 18px;
}
.info-image{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    width: 1208px;
    height: 482px;
    margin: 86px 158px;
    float: left;
}

.main-img{
    padding-right: 62px;
    padding-bottom: 13px;
}
.last-text{
    text-align: center;
    margin-top: 228px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 600;
}
.sub{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 600;
    padding-right: 94px;
}
.milan-text:hover{
    color: #f26522;
}
