.intro {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: gold;
    animation: intro 30s ease-out infinite;
    font-size: 200%;
}

.logo {
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: logo 100s ease-out infinite;
}

.scroller{
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: gold;
    transform: perspective(200px) rotateX(30deg);
}

.scroller div {
    position: absolute;
    top: 100%;
    animation: scroller 30s linear infinite;
}

.scroller p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing:.15em;
    background-color: black;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    1.5% {
        opacity: 1;
    }
    5.5% {
        opacity: 1;
    }
    6% {
        opacity: 0;
    }
}

@keyframes logo {
    9% {
        transform: translateX(-50%) translateY(-50%) scale(2);
        opacity: 0;
    }
    9.1% {
        opacity: 1;
    }
    14% {
        opacity: 1;
    }
    18% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 0;
    }
}

@keyframes scroller {
    0% {
        top: 100%;
        opacity: 0;
    }
    7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
.logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

